@each $breakpoint in map-keys($grid-breakpoints) {
	@include media($breakpoint) {
		$breakpoint : get-breakpoint($breakpoint);
		$i: $start;
		@while $i <= $end {
			.p-px#{$breakpoint}-#{$i} {
				padding: #{$i}px !important;
			}
			.pt-px#{$breakpoint}-#{$i},
			.py-px#{$breakpoint}-#{$i} {
				padding-top: #{$i}px !important;
			}
			.pr-px#{$breakpoint}-#{$i},
			.px-px#{$breakpoint}-#{$i} {
				padding-right: #{$i}px !important;
			}
			.pb-px#{$breakpoint}-#{$i},
			.py-px#{$breakpoint}-#{$i} {
				padding-bottom: #{$i}px !important;
			}
			.pl-px#{$breakpoint}-#{$i},
			.px-px#{$breakpoint}-#{$i} {
				padding-left: #{$i}px !important;
			}
			$i: $i + $step;
		}
	}
}
